language: python
python:
  - "2.7"

before_install:
    - export PYTHONPATH=$HOME/builds/DLance96/ox-dashboard

# command to install dependencies
install:
  - pip install -r requirements.txt
script:
  - python manage.py test 
