arrow==0.8.0
binaryornot==0.4.0
chardet==2.3.0
click==6.6
Django==1.9.8
future==0.15.2
Jinja2==2.8
jinja2-time==0.2.0
MarkupSafe==0.23
oauthlib==1.1.2
poyo==0.4.0
python-dateutil==2.5.3
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
whichcraft==0.4.0
