/* background base */

body {
    background-image: url(/static/img/ox_wallpaper.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width : 1400px) {
    body {
        background-position: center center;
        background-image: url(/static/img/ox_wallpaper_smallscreen.png);
    }
}

/*Making google calendar responsive*/
.responsiveCal {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

/*Used to make label towards top of text areas*/
textarea {
    vertical-align: top;
}

/*Used to display event information*/
.table-event-information {
    table-layout:fixed;
}

.table-event-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-event-information > tbody > tr:first-child {
    border-top: 0;
}

.table-event-information > tbody > tr > td {
    border-top: 0;
    word-wrap: break-word;
}

.toppad {
    margin-top:20px;
}

.agenda {
    display: grid;
    grid-template-columns: 1fr 4fr 10fr minmax(10px, 40px) 1fr;
    gap: 10px 10px;
    align-items: center;
}

.agendagrayline {
    grid-column: 2/5;
    height: 1px;
    background: rgb(221,221,221);
}

.classestaken {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 2fr 5fr 1fr;
    gap: 10px 10px;
    align-items: center;
}

.committeelist {
    display: grid;
    grid-template-columns: 1fr 10fr 5fr 1fr;
    gap: 5px 0px;
    align-items: start;
}

.committeegrayline {
    grid-column: 2 / 4;
    height: 1px;
    background: rgb(221,221,221);
}

.committeeeventlist {
    display: grid;
    grid-template-columns: 1fr 20fr 2fr 1fr;
    gap: 5px 0px;
    align-items: start;
}

.homeevent1 {
    display: grid;
    grid-template-columns: 1fr 11fr 11fr 1fr;
    gap: 20px 20px;
    align-items: center;
    grid-auto-flow: dense;
}

.modeladd {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 5fr;
    gap: 10px 20px;
    align-items: center;
    margin: 10px;
}

.marshalmeetabrother {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
    gap: 5px 5px;
    align-items:center;
}

.meetabrother {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 2fr 3fr 2fr 1fr;
    gap: 10px 5px;
    align-items:center;
}

.marshalmabgrayline{
    grid-column: 2 / 6;
    height: 1px;
    background: rgb(221,221,221);
}

.mabgrayline{
    grid-column: 2 / 9;
    height: 1px;
    background: rgb(221,221,221);
}

.modellabel {
    grid-column: 2/3;
    text-align: right;
}

.field {
    grid-column: 3/4;
    width: 77%;
}

.homeevent2 {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr minmax(10px, 300px);
    grid-auto-columns: minmax(auto, 380px);
    gap: 10px 10px;
    word-wrap: break-word;
}

.mediaaccounts {
    display: grid;
    grid-template-columns: minmax(10px, 20px) 4fr 9fr 1fr;
    gap: 5px 5px;
    align-items: center;
}

.campusgroups {
    display: grid;
    grid-template-columns: 4fr 9fr 1fr;
    gap: 5px 5px;
    align-items: center;
}

.brotherinfoadd {
    display: grid;
    grid-template-columns: 3fr minmax(10px, 20px) 1fr 8fr;
    gap: 10px 5px;
    align-items: center;
}

.grid-image{
    grid-column: 3/4;
}

@media (min-width: 768px) {
    .homeevent1>div:nth-child(6n+5) {
        grid-column: 2/3;
    }

    .homeevent1>div:nth-child(6n + 4) {
        grid-column: 3/4;
    }
}

.homeevent1>div:last-child {
    display: none;
}

.brotherevent {
    display: grid;
    grid-template-columns: 4fr 6fr 5fr 4fr 5fr;
    align-items: center;
    gap: 5px 5px;
}

.brothergrayline {
    grid-column: 2 / 5;
    height: 1px;
    background: rgb(221,221,221);
}

.grayline {
    grid-column: 1 / -1;
    height: 1px;
    background: rgb(221,221,221);
}

.blackline {
    grid-column: 1 / -1;
    height: 1px;
    background: black;
}

@media (max-width : 480px) {
    .homeevent1 {
        grid-template-columns: 1fr 12fr 1fr;
        grid-auto-flow: row;
        gap: 10px 0px;
    }

    .homeevent2 {
        grid-column: 2/3;
    }

    .grid-image{
        grid-column: 2/3;
    }
    .h1, h1 {
        font-size: 26px;
    }

    .mobile-hide{
        display: none;
    }
}

