{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Most recent details for {{ who }}</h3>
    </div>
    {% if does_house_details %}
    <div class="panel panel-default">
        <div class="panel-heading">Sunday Details</div>
        <div class="panel-body">
            {% for detail in sunday_group_details %}
            <a href='{{ detail.finish_link }}'>{{ detail }}</a>{% if detail.done %} DONE{% endif %}<br />
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Thursday Details</div>
        <div class="panel-body">
            {% for detail in thursday_details %}
            <a href='{{ detail.finish_link }}'>{{ detail }}</a>{% if detail.done %} DONE{% endif %}<br />
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading">It seems you don't do house details this semester!</div>
        <div class="panel-body">
            Go, like, have fun or something.
        </div>
    </div>
    {% endif %}
{% endblock %}
