{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ brother.first_name }} {{ brother.last_name }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>CaseID:</td>
                            <td>{{ brother.case_ID }}</td>
                        </tr>
                        <tr>
                            <td>Birthday:</td>
                            <td>{{ brother.birthday }}</td>
                        </tr>
                        <tr>
                            <td>Pronouns:</td>
                            {% if brother.pronouns %}
                                <td>{{ brother.get_pronouns_display }}</td>
                            {% else %}
                                <td>Chose Not to Say</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Hometown:</td>
                            <td>{{ brother.hometown }}</td>
                        </tr>
                        <tr>
                            <td>Roster Number:</td>
                            <td>{{ brother.roster_number }}</td>
                        </tr>
                        <tr>
                            <td>Semester Joined:</td>
                            <td>{{ brother.semester_joined }}</td>
                        </tr>
                        <tr>
                            <td>Semester Graduating:</td>
                            <td>{{ brother.semester_graduating }}</td>
                        </tr>
                        <tr>
                            <td>School Status:</td>
                            <td>{{ brother.get_school_status_display }}</td>
                        </tr>
                        <tr>
                            <td>Brother Status:</td>
                            <td>{{ brother.get_brother_status_display }}</td>
                        </tr>
                        <tr>
                            <td>Standing Committee:</td>
                            <td>
                                {% for committee in standing_committees %}
                                    {{ committee.get_committee_display }}<br>
                                {% empty %}
                                Unassigned
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Operational Committee:</td>
                            <td>
                                {% for committee in operational_committees %}
                                    {{ committee.get_committee_display }}<br>
                                {% empty %}
                                Unassigned
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                            <td>{{ brother.major }}</td>
                        </tr>
                        {% if brother.minor %}
                            <tr>
                                <td>Minor:</td>
                                <td>{{ brother.minor }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>T-Shirt Size:</td>
                            <td>{{ brother.t_shirt_size }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>{{ brother.phone_number }}</td>
                        </tr>
                        <tr>
                            <td>Emergency Contact:<br>
                                Phone Number:
                            </td>
                            <td>{{ brother.emergency_contact }}<br>
                                {{ brother.emergency_contact_phone_number }}</td>
                        </tr>
                        <tr>
                            {% if brother.address == "Theta Chi House" or brother.address == "11136 Magnolia Drive" %}
                                <td>Room Number:</td>
                                <td>{{ brother.room_number }}</td>
                            {% else %}
                                <td>Address:</td>
                                <td>{{ brother.address }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Media Accounts:</td>
                            <td>
                                <div class="mediaaccounts" style="max-width: 80%">
                                {% for account in brother.media_accounts.all %}
                                    <div><img src="/media/{{ account.media.icon }}" alt="" style="max-height: 20px; max-width: 100%;"></div>
                                    <div>{{ account.media.name }}:</div>
                                    {% if account.profile_link %}
                                        <div><a href={{ account.profile_link }}>{{ account.username }}</a></div>
                                    {% else %}
                                        <div>{{ account.username }}</div>
                                    {% endif %}
                                    <div style="text-align: right;"><a class="btn btn-danger btn-xs" href={% url 'dashboard:media_account_delete' account.pk %} role="button">x</a></div>
                                {% endfor %}
                                <a class="btn btn-success" style="grid-column: 1/5;" href={% url 'dashboard:media_account_add'%} role="button">Add Media Account</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Campus Groups:</td>
                            <td>
                                <div class="campusgroups" style="max-width: 80%">
                                {% for group in brother.groups.all %}
                                    <div style="grid-column: 1/2;">•</div>
                                    <div>{{ group.name }}</div>
                                    <div style="text-align: right;"><a class="btn btn-danger btn-xs" href={% url 'dashboard:campus_groups_delete' group.pk %} role="button">x</a></div>
                                {% endfor %}
                                <a class="btn btn-success" style="grid-column: 1/5;" href={% url 'dashboard:campus_groups_add' %} role="button">Add Campus Groups You're a Part Of</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Classes:</td>
                            <td><a class="btn btn-default" href={% url 'dashboard:classes' brother=brother.pk %}>Classes Taken</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-default" href={% url 'dashboard:brother_edit' brother.id %} role="button">Edit
                        information</a>
                    <a class="btn btn-default" href={% url 'dashboard:change_password' %} role="button">Change
                        Password</a>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Meet a Brother</div>
        <div class="panel-body">
            <div class="brotherevent">
                {% if mab %}
                <div style="grid-column: 2/3;"><b>Meet A Brother</b></div>
                <div><b>Phone</b></div>
                <div><b>Discord</b></div>
                <div><b>Completed?</b></div>
                <div class="blackline"></div>
                {% endif %}
                {% for person in mab %}
                    <div style="grid-column:2/3;">{{ person }}</div>
                    <div>{{ person.phone_number }}</div>
                    <div>
                        {% if discord != None %}
                            {% for account in person.media_accounts.all %}
                                {% if account.media == discord %}
                                    <img src="/media/{{ account.media.icon }}" alt="" style="max-height: 20px; max-width: 100%;"> {{ account.username }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value={{ person.pk }} name="id">
                            <input class="btn btn-success" type="submit" name={{ person.pk }} value="Mark Complete"/>
                        </form>
                    </div>
                    {% if not forloop.last %}
                    <div class="mabgrayline"></div>
                    {% endif %}
                {% empty %}
                    <div style="grid-column:3/5;">You have no uncompleted Meet a Brothers!</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Operational Committees</div>
        <div class="panel-body">
            {% for committee in operational_committees %}
                <div class="brotherevent">
                    {% if forloop.first %}
                        <div></div>
                        <div> <b>{{ committee.get_committee_display }}:</b> </div>
                        <div></div>
                        <div> <b>Minutes:</b> </div>
                        <div></div>
                    {% else %}
                        <br>
                        <div class="blackline"></div>
                        <div></div>
                        <div> <br> <b>{{ committee.get_committee_display }}:</b> </div>
                        <div></div>
                        <div> <br> <b>Minutes:</b> </div>
                        <div></div>
                    {% endif %}
                    {% for meeting in meetings %}
                        {% if meeting.committee == committee %}
                            <div class="brothergrayline"></div>
                            <div></div>
                            <div></div>
                            <div><a href={% url 'dashboard:committee_event' meeting.id%}>{{ meeting.date }} - {{ meeting.start_time }}</a></div>
                            <div></div>
                            <div>
                                {% if meeting.minutes %}
                                    <a href="{{ meeting.minutes }}">Link</a>
                                {% endif %}
                            </div>
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% empty %}
                <div class="brotherevent">
                <div></div>
                <div>No assigned Committees!</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Standing Committees</div>
        <div class="panel-body">
            {% for committee in standing_committees %}
                <div class="brotherevent">
                    {% if forloop.first %}
                        <div></div>
                        <div> <b>{{ committee.get_committee_display }}:</b> </div>
                        <div></div>
                        <div> <b>Minutes:</b> </div>
                        <div></div>
                    {% else %}
                        <br>
                        <div class="blackline"></div>
                        <div></div>
                        <div> <br> <b>{{ committee.get_committee_display }}:</b> </div>
                        <div></div>
                        <div> <br> <b>Minutes:</b> </div>
                        <div></div>
                    {% endif %}
                    {% for meeting in meetings %}
                        {% if meeting.committee == committee %}
                            <div class="brothergrayline"></div>
                            <div></div>
                            <div></div>
                            <div><a href={% url 'dashboard:committee_event' meeting.id%}>{{ meeting.date }} - {{ meeting.start_time }}</a></div>
                            <div></div>
                            <div>
                                {% if meeting.minutes %}
                                    <a href="{{ meeting.minutes }}">Link</a>
                                {% endif %}
                            </div>
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% empty %}
                <div class="brotherevent">
                <div></div>
                <div>No assigned Committees!</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Chapter Events</div>
        <div class="panel-body">
            <div class="brotherevent">
                <div></div>
                <div> <b>Event:</b> </div>
                <div> <b>Date:</b> </div>
                <div> <b>Attendance:</b></div>
                <div></div>
                {% for event, attendance in event_attendance %}
                <div class="brothergrayline"></div>
                <div></div>
                <div></div>
                <div><a href={% url 'dashboard:brother_chapter_event' type event.id %}>{{ event.name }}</a></div>
                <div>{{ event.date }}</div>
                <div>{{ attendance }}</div>
                <div></div>
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer text-center">
            Attendance (to date): {{ chapter_attendance }} - Unexcused Absences (to date): {{ unexcused_events }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Recruitment Events</div>
        <div class="panel-body">
            <div class="brotherevent">
                <div></div>
                <div> <b>Events This Semester:</b> </div>
                <div> <b>Date:</b> </div>
                <div> <b>Rush:</b> </div>
                <div></div>
                {% for event in recruitment_events %}
                <div class="brothergrayline"></div>
                <div></div>
                <div></div>
                <div><a href={% url 'dashboard:brother_recruitment_event' type event.id %}>{{ event.name }}</a></div>
                <div>{{ event.date }}</div>
                <div>{{ event.rush }}</div>
                <div></div>
                {% endfor %}
            </div>
            <br>
            <div class="blackline"></div>
            <br>
            <div class="brotherevent">
                <div></div>
                <div> <b>Events Next Semester:</b> </div>
                <div> <b>Date:</b> </div>
                <div> <b>Rush:</b> </div>
                <div></div>
                {% for event in recruitment_events_next %}
                <div class="brothergrayline"></div>
                <div></div>
                <div></div>
                <div><a href={% url 'dashboard:brother_recruitment_event' type event.id %}>{{ event.name }}</a></div>
                <div>{{ event.date }}</div>
                <div>{{ event.rush }}</div>
                <div></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Health and Safety Events</div>
        <div class="panel-body">
                <div class="brotherevent">
                    <div></div>
                    <div> <b>Event:</b> </div>
                    <div> <b>Date:</b> </div>
                    <div></div>
                    <div></div>
                    {% for event in hs_events %}
                    <div class="brothergrayline"></div>
                    <div></div>
                    <div></div>
                    <div><a href={% url 'dashboard:brother_hs_event' type event.id %}>{{ event.name }}</a></div>
                    <div>{{ event.date }}</div>
                    <div></div>
                    <div></div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Philanthropy Events</div>
        <div class="panel-body">
            <div class="brotherevent">
                <div></div>
                <div> <b>Event:</b> </div>
                <div> <b>Date:</b> </div>
                <div></div>
                {% for event in philanthropy_events %}
                <div class="brothergrayline"></div>
                <div></div>
                <div></div>
                <div><a href={% url 'dashboard:brother_philanthropy_event' type event.id %}>{{ event.name }}</a></div>
                <div>{{ event.date }}</div>
                <div></div>
                <div></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Service Events</div>
        <div class="panel-body">
            <div class="brotherevent">
                    <div></div>
                    <div> <b>Event:</b> </div>
                    <div> <b>Date:</b> </div>
                    <div></div>
                    <div></div>
                    {% for event in service_events %}
                    <div class="brothergrayline"></div>
                    <div></div>
                    <div></div>
                    <div><a href={% url 'dashboard:brother_service_event' type event.id %}>{{ event.name }}</a></div>
                    <div>{{ event.date }}</div>
                    <div></div>
                    <div></div>
                    {% endfor %}
                </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Service Hours</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success"
                       href={% url 'dashboard:brother_service_submission_add' %} role="button">Submit Service</a>
                    <br><br>
                </div>
                <div class="col-md-6">
                    Approved Hours: {{ hours_approved }}<br>
                    Pending Hours: {{ hours_pending }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pending</div>
                        <div class="panel-body">
                            {% for submission in submissions_pending %}
                                <a class="btn btn-danger"
                                   href={% url 'dashboard:brother_service_submission_delete' submission.id %} role="button">X</a>
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Awaiting Approval</div>
                        <div class="panel-body">
                            {% for submission in submissions_submitted %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Denied</div>
                        <div class="panel-body">
                            {% for submission in submussions_denied %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Approved</div>
                        <div class="panel-body">
                            {% for submission in submissions_approved %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Potential New Members</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Potential New Member:</td>
                        <td>Case ID:</td>
                        <td>Phone Number:</td>
                        <td>Contact Type</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pnm in pnms %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_pnm' pnm.id %}>{{ pnm.first_name }}
                                    {{ pnm.last_name }}</a>
                            </td>
                            <td>{{ pnm.case_ID }}</td>
                            <td>{{ pnm.phone_number }}</td>
                            <td> {% if pnm.primary_contact == brother %}
                                Primary
                            {% elif pnm.secondary_contact == brother %}
                                Secondary
                            {% else %}
                                Tertiary
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <a class="btn btn-primary" href={% url 'dashboard:all_pnm_csv' %} role="button">
                Download full list as csv</a>
            </div>
        </div>
    </div>
    {% if notified_by %}
    <div class="panel panel-default">
        <div class="panel-heading">Notified by Brother in Case of Emergency</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Brother that will notify you</td>
                        <td>Case ID:</td>
                        <td>Phone Number:</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ notified_by.first_name }} {{ notified_by.last_name }}
                            </td>
                            <td>{{ notified_by.case_ID }}</td>
                            <td>{{ notified_by.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if notifies %}
    <div class="panel panel-default">
        <div class="panel-heading">Brothers to Notify in Case of Emergency</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Brother to Notify:</td>
                        <td>Case ID:</td>
                        <td>Phone Number:</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bro in notifies %}
                        <tr>
                            <td>
                                {{ bro.first_name }} {{ bro.last_name }}
                            </td>
                            <td>{{ bro.case_ID }}</td>
                            <td>{{ bro.phone_number }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">Submitted Communications and Reports</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                    <tr>
                        <td>Officer:</td>
                        <td>Information:</td>
                        <td>Edit?</td>
                        <td>Delete?</td>
                    </tr>
                </thead>
                <tbody>
                    {% for report in brother.reports.all %}
                        <tr>
                            {% if report.is_officer %}
                                <td>{{ report.position }}</td>
                            {% else %}
                                <td>Communication</td>
                            {% endif %}
                            <td>{{ report.information }}</td>
                            <td><a class="btn btn-default" href={% url 'dashboard:edit_report' report.id %}>X</a></td>
                            <td><a class="btn btn-danger" href={% url 'dashboard:delete_report' report.id %}?next={{ request.path }}>X</a></td>
                        </tr>
                    {% empty %}
                        <tr><td>You haven't submitted any reports this week!</td><td></td><td></td></tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
