{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ brother.first_name }} {{ brother.last_name }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Information</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>CaseID:</td>
                            <td>{{ brother.case_ID }}</td>
                        </tr>
                        <tr>
                            <td>Birthday:</td>
                            <td>{{ brother.birthday }}</td>
                        </tr>
                        <tr>
                            <td>Hometown:</td>
                            <td>{{ brother.hometown }}</td>
                        </tr>
                        <tr>
                            <td>Roster Number:</td>
                            <td>{{ brother.roster_number }}</td>
                        </tr>
                        <tr>
                            <td>Semester Joined:</td>
                            <td>{{ brother.semester_joined }}</td>
                        </tr>
                        <tr>
                            <td>School Status:</td>
                            <td>{{ brother.get_school_status_display }}</td>
                        </tr>
                        <tr>
                            <td>Brother Status:</td>
                            <td>{{ brother.get_brother_status_display }}</td>
                        </tr>
                        <tr>
                            <td>Standing Committee:</td>
                            <td>{{ brother.get_standing_committee_display }}</td>
                        </tr>
                        <tr>
                            <td>Operational Committee:</td>
                            <td>{{ brother.get_operational_committee_display }}</td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                            <td>{{ brother.major }}</td>
                        </tr>
                        {% if brother.minor %}
                            <tr>
                                <td>Minor:</td>
                                <td>{{ brother.minor }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>T-Shirt Size:</td>
                            <td>{{ brother.t_shirt_size }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>{{ brother.phone_number }}</td>
                        </tr>
                        <tr>
                            <td>Emergency Contact:<br>
                                Phone Number:
                            </td>
                            <td>{{ brother.emergency_contact }}<br>
                                {{ brother.emergency_contact_phone_number }}</td>
                        </tr>
                        <tr>
                            {% if brother.address == "Theta Chi House" or brother.address == "11136 Magnolia Drive" %}
                                <td>Room Number:</td>
                                <td>{{ brother.room_number }}</td>
                            {% else %}
                                <td>Address:</td>
                                <td>{{ brother.address }}</td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-default" href={% url 'dashboard:brother_edit' brother.id %} role="button">Edit
                        information</a>
                    <a class="btn btn-default" href={% url 'dashboard:change_password' %} role="button">Change
                        Password</a>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Chapter Events</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Event</td>
                        <td>Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in chapter_events %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_chapter_event' event.id %}>{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-center">
            Attendance (to date): {{ chapter_attendance }} - Unexcused Absences (to date): {{ unexcused_events }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuses</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Pending</div>
                        <div class="panel-body">
                            {% for excuse in excuses_pending %}
                                <a class="btn btn-default"
                                   href={% url 'dashboard:brother_excuse_delete' excuse.id %} role="button">X</a>
                                <a href={% url 'dashboard:brother_excuse' excuse.id %}>{{ excuse.event.name }}
                                    - {{ excuse.event.date }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Not Mandatory</div>
                        <div class="panel-body">
                            {% for excuse in excuses_not_mandatory %}
                                <a href={% url 'dashboard:brother_excuse' excuse.id %}>{{ excuse.event.name }}
                                    - {{ excuse.event.date }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Approved</div>
                        <div class="panel-body">
                            {% for excuse in excuses_approved %}
                                <a href={% url 'dashboard:brother_excuse' excuse.id %}>{{ excuse.event.name }}
                                    - {{ excuse.event.date }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Denied</div>
                        <div class="panel-body">
                            {% for excuse in excuses_denied %}
                                <a href={% url 'dashboard:brother_excuse' excuse.id %}>{{ excuse.event.name }}
                                    - {{ excuse.event.date }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Potential New Members</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Potential New Member:</td>
                        <td>Case ID:</td>
                        <td>Phone Number:</td>
                        <td>Contact Type</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pnm in pnms %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_pnm' pnm.id %}>{{ pnm.first_name }} {{ pnm.last_name }}</a>
                            </td>
                            <td>{{ pnm.case_ID }}</td>
                            <td>{{ pnm.phone_number }}</td>
                            <td> {% if pnm.primary_contact == brother %}
                                Primary
                            {% elif pnm.secondary_contact == brother %}
                                Secondary
                            {% else %}
                                Tertiary
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Service Hours</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default"
                       href={% url 'dashboard:brother_service_submission_add' %} role="button">Submit Service</a>
                    <br><br>
                </div>
                <div class="col-md-6">
                    Approved Hours: {{ hours_approved }}<br>
                    Pending Hours: {{ hours_pending }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pending</div>
                        <div class="panel-body">
                            {% for submission in submissions_pending %}
                                <a class="btn btn-default"
                                   href={% url 'dashboard:brother_service_submission_delete' submission.id %} role="button">X</a>
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Awaiting Approval</div>
                        <div class="panel-body">
                            {% for submission in submissions_submitted %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Denied</div>
                        <div class="panel-body">
                            {% for submission in submussions_denied %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Approved</div>
                        <div class="panel-body">
                            {% for submission in submissions_approved %}
                                <a href={% url 'dashboard:brother_service_submission' submission.id %}>{{ submission.name }}
                                    -
                                    {{ submission.hours }} hours</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Service Events</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Event</td>
                        <td>Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in service_events %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_service_event' event.id %}>{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Recruitment Events</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Event This Semester</td>
                        <td>Date</td>
                        <td>Rush</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in recruitment_events %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_recruitment_event' event.id %}>{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.rush }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-event-information">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Event Next Semester</td>
                        <td>Date</td>
                        <td>Rush</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in recruitment_events_next %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_recruitment_event' event.id %}>{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.rush }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committees</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <thead style="font-weight:bold;">
                            <tr>
                                <td>Operational:</td>
                                <td>Date:</td>
                                <td>Minutes:</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for meeting in operational_meetings %}
                                <tr>
                                    <td><a href="">{{ meeting.get_committee_display }}</a></td>
                                    <td>{{ meeting.datetime.date }} - {{ meeting.datetime.time }}</td>
                                    {% if meeting.minutes %}
                                        <td><a href="{{ meeting.minutes }}">link</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <thead style="font-weight:bold;">
                            <tr>
                                <td>Standing:</td>
                                <td>Date:</td>
                                <td>Minutes:</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for meeting in standing_meetings %}
                                <tr>
                                    <td><a href="">{{ meeting.get_committee_display }}</a></td>
                                    <td>{{ meeting.datetime.date }} - {{ meeting.datetime.time }}</td>
                                    {% if meeting.minutes %}
                                        <td><a href="{{ meeting.minutes }}">link</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Philanthropy Events</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Event</td>
                        <td>Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in philanthropy_events %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:brother_philanthropy_event' event.id %}>{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}