{% extends "secretary-base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Secretary <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:secretary_positions' %}>Positions</a></li>
            <li><a href={% url 'dashboard:secretary_event_all' %}>All Events</a></li>
            <li><a href={% url 'dashboard:secretary_brother_list' %}>Active Brothers</a></li>
            <li><a href="">All Excuses</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Attendance</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Attendance</div>
        <div class="panel-body">
            <table class="table table-event-information">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Brother:</td>
                    <td>Events Excused:</td>
                    <td>Events Unexcused:</td>
                </tr>
                </thead>
                <tbody>
                {% for brother, events_excused, events_unexcused in brother_attendance %}
                    <tr>
                        <td>{{ brother.first_name }} {{ brother.last_name }}</td>
                        <td>{{ events_excused }}</td>
                        <td>{{ events_unexcused }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
