{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Attendance</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Attendance</div>
        <div class="panel-body">
            <table class="table table-event-information">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Brother:</td>
                    <td>Events Excused:</td>
                    <td>Events Unexcused:</td>
                </tr>
                </thead>
                <tbody>
                {% for brother, events_excused, events_unexcused in brother_attendance %}
                    <tr>
                        <td><a href="">{{ brother.first_name }} {{ brother.last_name }}</a></td>
                        <td>{{ events_excused }}</td>
                        <td>{{ events_unexcused }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
