{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Chapter Event</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Event</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-lg-7 ">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td>{{ event.date }}</td>
                        </tr>
                        <tr>
                            <td>Time</td>
                            <td>Start: {{ event.start_time }}
                                {% if event.end_time %}
                                    <br><br>End: {{ event.end_time }}
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Mandatory</td>
                            <td>{{ event.mandatory }}</td>
                        </tr>
                        {% if event.minutes %}
                            <tr>
                                <td>Minutes</td>
                                <td>{{ event.minutes }}</td>
                            </tr>
                        {% endif %}
                        {% if event.notes %}
                            <tr>
                                <td>Notes</td>
                                <td>{{ event.Notes }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="btn btn-default" href={% url 'dashboard:secretary' %} role="button">Edit event</a>
        </div>
    </div>
    {% if type == 'attendance' %}
        <div class="panel panel-default">
            <div class="panel-heading">Event Attendance</div>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for brother, form in list %}
                        {% for field in form %}
                            {{ field }}{{ field.label_tag }}
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <input type="submit" value="Update"/>
                </form>
            </div>
        </div>
    {% endif %}
    {% if type == 'view' %}
        <div class="panel panel-default">
            <div class="panel-heading">Event Attendance</div>
            <div class="panel-body">
                {% for brother in attendees %}
                    {{ brother }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if type == 'brother' %}
        <div class="panel panel-default">
            <div class="panel-heading">Event Excuse</div>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Update"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}