{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Classes</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Classes</div>
        <div class="panel-body">
            <a class="btn btn-success" style="grid-column: 2/3; width: fit-content;" href={% url 'dashboard:classes_add' %}>Add a Class You've Taken</a><br><br>
            <div class="col-lg-2">
                <b>Filters:</b><br>
                <div class="blackline"></div><br>
                <form method="POST">
                    {% csrf_token %}
                    <label for="department">Department:</label>
                    <p>
                        <select id="department" name="department">
                        <option value="">-------</option>
                        {% for department in departments %}
                                <option value={{ department }} {% if department == filter_department %} selected {% endif %}>{{ department }}</option>
                        {% endfor %}
                        </select>
                    </p>
                    <label for="number">Class Number:</label>
                    <p><input type="number" id="number" name="class_number" min="101" max="600" value={{ filter_number }}></p>
                    <label for="brother">Brother:</label>
                    <p>
                        <select id="brother" name="brother">
                        <option value="">----------------</option>
                        {% for brother in brothers %}
                            <option value={{ brother.pk }} {% if brother.pk == filter_brother %} selected {% endif %}>{{ brother }}</option>
                        {% endfor %}
                        </select>
                    </p>
                    <br><p><input class="btn btn-success" type="submit" name="filter" value="Filter"></p>
                </form>
            </div>
            <div class="col-lg-10">
                <div class="classestaken">
                    <div style="font-weight: bold; grid-column: 2/3;">Class:</div>
                    <div style="font-weight: bold;">Brothers Taken:</div>
                    <div style="font-weight: bold;">Grade:</div>
                    <div class="blackline"></div>
                    {% for class in classes_taken %}
                        <div style="grid-column: 2/3;">{{ class }}</div>
                        {% for brother in class.ordered_brother_set %}
                            <div style="grid-column: 3/4;">{{ brother }}</div>
                            {% for class_grade in brother.grades.all %}
                                {% if class_grade.class_taken == class %}
                                    <div>{{ class_grade.get_grade_display }}</div>
                                {% endif %}
                            {% endfor %}
                            {% if forloop.first %}
                                {% if view == 'brother' %}
                                    <div style="grid-column: 5/6;"><form method="POST">{% csrf_token %}<input type="hidden" name="class" value={{ class.pk }}><input class="btn btn-danger" type="submit" name="unadd_self" value="Unadd Self"></form></div>
                                {% elif view == 'scholarship' %}
                                    <a class="btn btn-danger" style="grid-column: 5/6; width: fit-content" href={% url 'dashboard:classes_delete' class.pk %}>Delete Class</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="brothergrayline"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
