{% extends "vice-president-base.html" %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Vice President</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Assignment</div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field.errors }}
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Brother</td>
                        <td>Standing Committee</td>
                        <td>Operational Committee</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for brother, form in brother_forms %}
                        <tr>
                            <td>
                                {{ brother.first_name }} {{ brother.last_name }}
                            </td>
                            {% for field in form %}
                                <td>{{ field }} - {{ field.errors }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Update"/>
            </form>
        </div>
    </div>
{% endblock %}
