{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Vice President <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:vice_president_committee_assignments' %}>Committee Assignments</a></li>
            <li><a href={% url 'dashboard:vice_president_in_house' %}>Select housing</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Vice President</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Assignment</div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Brother</td>
                        <td>Standing Committee</td>
                        <td>Operational Committee</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for brother, form in brother_forms %}
                        <tr>
                            <td>
                                {{ brother.first_name }} {{ brother.last_name }}
                            </td>
                            {% for field in form %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Update"/>
            </form>
        </div>
    </div>
{% endblock %}
