{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Committee List</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Standing Committees</div>
        <div class="panel-body">
            {% for committee in committees %}
            {% if committee.in_standing %}
                <div class="committeelist">
                    <div></div>
                    <div><b>{{ committee.get_committee_display }} Committee</b></div>
                    <div style="justify-self: end;"><b>Meeting Time:</b> {{ committee.get_meeting_interval_display }} on {{ committee.get_meeting_day_display }} - {{ committee.meeting_time }}</div>
                    <div></div>
                    <div class="committeegrayline"></div>
                    {% for brother in committee.chair.brothers.all %}
                    <div></div>
                    <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }} - Chairman</div>
                    <div></div>
                    <div></div>
                    {% endfor %}
                    {% for brother in committee.members.all %}
                        {% if brother not in committee.chair.brothers.all %}
                            <div></div>
                            <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }}</div></a>
                            <div></div>
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Operational Committees</div>
        <div class="panel-body">
            {% for committee in committees %}
            {% if committee.in_operational %}
                <div class="committeelist">
                    <div></div>
                    <div><b>{{ committee.get_committee_display }} Committee</b></div>
                    <div style="justify-self: end;"><b>Meeting Time:</b> {{ committee.get_meeting_interval_display }} on {{ committee.get_meeting_day_display }} - {{ committee.meeting_time }}</div>
                    <div></div>
                    <div class="committeegrayline"></div>
                    {% for brother in committee.chair.brothers.all %}
                    <div></div>
                    <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }} - Chairman</div>
                    <div></div>
                    <div></div>
                    {% endfor %}
                    {% for brother in committee.members.all %}
                        {% if brother not in committee.chair.brothers.all %}
                            <div></div>
                            <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }}</div></a>
                            <div></div>
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if view_type == 'Vice President' %}
    <div class="panel panel-default">
        <div class="panel-heading">Add Committee</div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                <table class="table table-condensed">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if forloop.counter == 1 %}
                    <thead>
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% else %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                <input type="submit" value="Add Committee"/>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
