{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Committee List</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Meeting</div>
        <div class="panel-body">
            {% for committee in committees %}
                <div class="committeelist">
                    <div></div>
                    <div><b>{{ committee.get_committee_display }} Committee</b></div>
                    <div><b>Meeting Time:</b> {{ committee.get_meeting_time_display }}</div>
                    <div></div>
                    <div class="committeegrayline"></div>
                    {% for brother in committee.chair.brothers.all %}
                    <div></div>
                    <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }}</div>
                    <div>Chairman</div>
                    <div></div>
                    {% endfor %}
                    {% for brother in committee.members.all %}
                        {% if brother not in committee.chair.brothers.all %}
                            <div></div>
                            <div style="grid-column: 2/3;">{{ brother.first_name }} {{ brother.last_name }}</div></a>
                            <div></div>
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
