{% extends "detail-manager-base.html" %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Detail dates</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Sunday Details</div>
        <div class="panel-body">
            {% for d in sunday_dates %}
            <a href='{{ d.1 }}'>{{ d.0 }}</a><br />
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Thursday Details</div>
        <div class="panel-body">
            {% for d in thursday_dates %}
            <a href='{{ d.1 }}'>{{ d.0 }}</a><br />
            {% endfor %}
        </div>
    </div>
{% endblock %}
