{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Detail Manager<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:house_detail_toggle' %}>Select who does house details</a></li>
            <li><a href={% url 'dashboard:create_groups' %}>Create detail groups</a></li>
            <li><a href={% url 'dashboard:select_groups' %}>Select detail groups</a></li>
            <li><a href={% url 'dashboard:delete_groups' %}>Delete detail groups</a></li>
            <li><a href={% url 'dashboard:post_thursday_details' %}>Post Thursday details</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Detail Manager</h1>
    </div>
{% endblock %}
