{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ position }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Add Event</div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
             {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
            {% else %}
                <form method="post">
            {% endif %}
                {% csrf_token %}
                <div class="modeladd">
                    <div class="modellabel">{{ form.non_field.errors }}</div>
                    {% for field in form %}
                        {% if not forloop.first %}
                            <div class="grayline"></div>
                        {% endif %}
                        <div class="modellabel">{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                        <div style="grid-column: 6/7;">{{ field.errors }}</div>
                    {% endfor %}
                    <div class="modellabel"><input class="btn btn-default" type="submit" value="Add Event"/></div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">God Calendar</div>
        <div class="panel-body">
            <div class="responsiveCal" style="padding:300px">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=30lk99vhhtrvdkj1it1ojn618c%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York"
                        style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
{% endblock %}