{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ excuse.brother }}'s Excuse</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuse</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-lg-2 "></div>
                <div class=" col-lg-8 ">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ excuse.brother.first_name }} {{ excuse.brother.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Event:</td>
                            <td>{{ excuse.event.name }}</td>
                        </tr>
                        <tr>
                            <td>Event Date:</td>
                            <td>{{ excuse.event.date }}</td>
                        </tr>
                        <tr>
                            <td>Date Submitted:</td>
                            <td>{{ excuse.date_submitted }}</td>
                        </tr>
                        <tr>
                            <td>Event Status:</td>
                            {% if excuse.event.mandatory == True %}
                                <td>Mandatory</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Excuse Reason:</td>
                            <td>{{ excuse.description }}</td>
                        </tr>
                        <tr>
                            <td>Excuse Status:</td>
                            <td>{{ excuse.get_status_display }}</td>
                        </tr>
                        {% if excuse.status == '2' or excuse.status == '3' and excuse.response_message %}
                            <tr>
                                <td>Response:</td>
                                <td>{{ excuse.response_message }}</td>
                            </tr>
                        {% elif type == "review" and excuse.status == '0' %}
                            <tr>
                                <td>
                                    <a class="btn btn-default" href={% url 'dashboard:brother_excuse_edit' excuse.id %}>Edit Excuse</a>
                                    <a class="btn btn-danger" href={% url 'dashboard:brother_excuse_delete' excuse.id %}>Delete Excuse</a>
                                </td>
                                <td></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-lg-2 "></div>
            </div>

        </div>
        {% if type == "response" %}
            <div class="panel panel-default">
                <div class="panel-heading">Excuse Response</div>

                <div class="panel-body">
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <table style="vertical-align:middle" class="table table-responsive">
                            {% for field in form %}
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td>{{ field }}</td>
                                    <td>{{ field.errors }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        {% endif %}
{% endblock %}