{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Check to mark supplies as ordered</div>
        {% if message %}
            <div class="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Mark as ordered"/>
            </form>
        </div>
    </div>
{% endblock %}
