{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h3>Sunday details for {{ due }} for {{ who }}.</h3>
    </div>
    {% for detail in details %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ detail.short_description }}, Due: {{ detail.due_date }}</div>
        <div class="panel-body">
            {{ detail.long_description|linebreaksbr }}
        </div>
    </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">Mark a detail as finished</div>
        {% if message %}
            <div class="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            By marking this detail as finished, you are certifying that you finished it to the best of your abilities before the due date, and notified the detail manager or house manager via email of any problems that arose.  
            <br />
            Lying here may constitute Conduct Unbecoming of a Brother.
            <br />
            If you submit this accidentally, just let the detail manager know as soon as possible.
            <br /><br />
            <form action="" method="post">
                {% csrf_token %}
                <ul id='id_detail'>
                {% for detail in details %}
                <li><label><input name='detail' type='radio' value='{{ detail.pk }}' {% if detail.done %}disabled{% endif %}/> {{ detail.short_description }}</label> {% if detail.done %}Finished by {{ detail.finished_by }} at {{ detail.finished_time }}{% endif %}</li>
                {% endfor %}
                </ul>
                <input type="submit" value="Finish this detail" />
            </form>
        </div>
    </div>
{% endblock %}
