{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Homepage</h1>
        <h2>Lower title</h2>
        <p>
            tada
        </p>
    </div>
    <div class="jumbotron">
        <h2>Test</h2>
        <p>
            {% if is_authenticated %}
                User: {{ user }} | <a href="{% url "dashboard:logout" %}">logout</a>
            {% else %}
                <form method="post" action="{% url "dashboard:login" %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Log in"/>
                </form>
            {% endif %}
        </p>
    </div>
{% endblock %}