{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Vice President <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:vice_president_committee_assignments' %}>Committee Assignments</a></li>
            <li><a href={% url 'dashboard:vice_president_in_house' %}>Select housing</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Vice President</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Select the brothers living in the house</div>
        {% if message %}
            <div class="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}
