{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Marshall</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Candidates</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Candidate:</td>
                    <td>Edit:</td>
                    <td>Delete:</td>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td><a href={% url 'dashboard:marshal_candidate' candidate.id %}>{{ candidate }}</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:marshal_candidate_edit' candidate.id %}>X</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:marshal_candidate_delete' candidate.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:marshal_candidate_add' %} role="button">Add Candidate</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Candidate Attendance</div>
        <div class="panel-body">
            <table class="table table-event-information">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Candidate:</td>
                    <td>Events Excused:</td>
                    <td>Events Unexcused:</td>
                </tr>
                </thead>
                <tbody>
                {% for candidate, events_excused, events_unexcused in candidate_attendance %}
                    <tr>
                        <td>{{ candidate.first_name }} {{ candidate.last_name }}</td>
                        <td>{{ events_excused }}</td>
                        <td>{{ events_unexcused }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}