{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Marshal</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Candidates</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Candidate:</td>
                    <td>Edit:</td>
                    <td>Delete:</td>
                </tr>
                </thead>
                <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td><a href={% url 'dashboard:marshal_candidate' candidate.id %}>{{ candidate }}</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:marshal_candidate_edit' candidate.id %}>+</a></td>
                        <td><a class="btn btn-danger"
                               href={% url 'dashboard:marshal_candidate_delete' candidate.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href={% url 'dashboard:marshal_candidate_add' %} role="button">Add Candidate</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Candidate Attendance</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Candidate:</td>
                    <td>Events Excused:</td>
                    <td>Events Unexcused:</td>
                </tr>
                </thead>
                <tbody>
                {% for candidate, events_excused, events_unexcused in candidate_attendance %}
                    <tr>
                        <td>{{ candidate.first_name }} {{ candidate.last_name }}</td>
                        <td>{{ events_excused }}</td>
                        <td>{{ events_unexcused }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   <div class="panel panel-default">
       <div class="panel-heading">Meet A Brother</div>
       <div class="panel-body">
           <form method="post">
               <input class="btn btn-default" name="randomize" type="submit" value="Randomize"/>
               <a class="btn btn-default" href={% url 'dashboard:marshal_mab_edit_candidate' %} role="button">Manually Update Meet a Brothers</a>
               <br><br>
               {% csrf_token %}
               <div class="marshalmeetabrother">
                   <div></div>
                   <div>Randomize?</div>
                   <div>Candidate</div>
                   <div>Assigned Brothers</div>
                   <div></div>
                   <div class="blackline"></div>
                   {% for form in mab_form_list %}
                        {% for field in form %}
                            {% if forloop.first %}
                                <div style="grid-column: 2/3; justify-self: center;">{{ field }}</div>
                                <div>{{ field.label_tag }}</div>
                            {% elif forloop.last %}
                                <div style="grid-column: 4/5;">{{ field }}</div>
                            {% else %}
                                <div>{{ field }}</div>
                            {% endif %}
                        {% endfor %}
                        <div class="marshalmabgrayline"></div>
                   {% endfor %}
               </div>
               <input class="btn btn-success" name="submit" type="submit" value="Submit"/>
           </form>
       </div>
    </div>
{% endblock %}
