{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}</div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
            {% else %}
                <form method="post">
            {% endif %}
                {{ form.name_of_field.errors }}
                {% csrf_token %}
                <div class="modeladd">
                    {% for field in form %}
                        {% if field.help_text %}
                            <div style="grid-column: 2/6;">{{ field.help_text }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="grayline"></div>
                    {% for field in form %}
                        <div class="modellabel">{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                        <div style="grid-column: 5/6;">{{ field.errors }}</div>
                        <div class="grayline"></div>
                    {% endfor %}
                <input class="btn btn-success" type="submit" style="grid-column: 1/2;" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}