{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}</div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
            {% else %}
                <form method="post">
            {% endif %}
                {% csrf_token %}
                <div class="modeladd">
                    {% for field in form %}
                        {% if not forloop.first %}
                            <div class="grayline"></div>
                        {% endif %}
                        <div class="modellabel">{{ field.label_tag }}</div>
                        {{ field }}
                        {% if title == 'Media Account' %}
                            {% if field.label == 'Media' %}
                                <a class="btn btn-default" href={% url 'dashboard:media_add' %} role="button">Add Media</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}