{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Philanthropy Event</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Event</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-lg-2 "></div>
                <div class=" col-lg-8 ">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ event.name }}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td>{{ event.date }}</td>
                        </tr>
                        <tr>
                            <td>Time Start:
                                {% if event.end_time %}
                                    <br>End:
                                {% endif %}</td>
                            </td>
                            <td>{{ event.start_time }}
                                {% if event.end_time %}
                                    <br>{{ event.end_time }}
                                {% endif %}
                            </td>
                        </tr>
                        {% if event.description %}
                            <tr>
                                <td>Description</td>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endif %}
                        {% if type == 'brother' %}
                        <tr>
                            <td>Attended?</td>
                            <td>{{ attended }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% if type == 'ec-view' %}
                        <a class="btn btn-default" href={% url 'dashboard:philanthropy_c_event_edit' event.id %} role="button">Edit event</a>
                    {% endif %}
                </div>
                <div class=" col-lg-2 "></div>
            </div>
        </div>
    </div>
    {% if type == 'brother-view' %}
        <div class="panel panel-default">
            <div class="panel-heading">RSVP</div>
            <div class="panel-body">
                {% if type == 'brother-view' %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {% if rsvpd %}
                            <input class="btn btn-danger" type="submit" value="Cancel RSVP"/><br><br>
                        {% else %}
                            <input class="btn btn-success" type="submit" value="RSVP"/><br><br>
                        {% endif %}
                    </form>
                {% endif %}
                {% for brother in brothers_rsvp %}
                    {{ brother }}<br>
                {% endfor %}
            </div>
        </div>
        {% if not attended %}
            <div class="panel panel-default">
                <div class="panel-heading">Event Excuse</div>
                <div class="panel-body">
                    {% if not excuse_exists %}
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="excuse" value="Submit Excuse"/>
                        </form>
                    {% else %}
                        <a class="btn btn-success" href={% url 'dashboard:brother_excuse' excuse.pk %} role="button">Review Submitted Excuse</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if type == 'attendance' %}
        <div class="panel panel-default">
            <div class="panel-heading">Brother Attendance</div>
            <div class="panel-body">
                <form action="" method="post">
                    <input class="btn btn-success" type="submit" name="edit" value="Update Eligible Brothers Attendance List"><br><br>
                        {% csrf_token %}
                        {{ form.non_field.errors }}
                        <div class="row justify-content-start">
                            <div class="col col-sm-8">
                                <table class="table table-responsive">
                                    <tr>
                                        {% for field in form %}
                                            <td>
                                                {{ field.label_tag }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        {% for field in form %}
                                            <td>
                                                {{ field }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <h3>Brother Attendance</h3>
                        <hr>
                        {% for form in brother_form_list %}
                            {% for field in form %}
                                {{ field }}{{ field.label_tag }}
                                {{ field.errors }}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    <input class="btn btn-success" type="submit" name="update" value="Update"/>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
