{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>President</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Create Emergency Phone Tree</div>
        <div class="panel-body">
            <a class="btn btn-danger" href={% url 'dashboard:create_phone_tree' %} role="button">
                Recreate Phone Tree
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Cleanup For Next Semester</div>
        <div class="panel-body">
            <form action={% url 'dashboard:cleanup_semester' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ semester_picker.as_p }}
                <input class="btn btn-danger" type="submit" value="Setup for the next Semester" />
            </form>
        </div>
    </div>
{% endblock %}
