{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ position }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Add Photo</div>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add Photo"/>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Committee Meeting</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Committee:</td>
                    <td>Date:</td>
                    <td>Minutes:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for meeting in committee_meetings %}
                    <tr>
                        <td><a href={% url 'dashboard:committee_event' meeting.id%}>{{ meeting.committee.get_committee_display }}</a></td>
                        <td>{{ meeting.date }} - {{ meeting.start_time }}</td>
                        {% if meeting.minutes %}
                            <td><a href="{{ meeting.minutes }}">link</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class="btn btn-default"
                              href={% url 'dashboard:committee_event_edit' meeting.id %}?id={{ meeting.id }}>+</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:committee_event_delete' meeting.id %}?next={{ request.path }}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:committee_event_add' position %}?next={{ request.path }}
                    role="button">Add Meeting</a>
        </div>
    </div>
{% endblock %}
