{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Recruitment Chair <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:recruitment_c_rush_attendance' %}>Rush Attendance</a></li>
            <li><a href={% url 'dashboard:recruitment_c_excuses' %}>Excuses Archive</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ position }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Events This Semester</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Event:</td>
                    <td>Date:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href={% url 'dashboard:recruitment_c_event' event.id %}>{{ event.name }}</a></td>
                        <td>{{ event.date }}</td>
                        <td><a class="btn btn-default"
                            href={% url 'dashboard:recruitment_c_event_edit' event.id %}>+</a></td>
                        <td><a class="btn btn-danger"
                               href={% url 'dashboard:recruitment_c_event_delete' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href={% url 'dashboard:recruitment_c_event_add' %} role="button">Add Event</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Events Next Semester</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Event:</td>
                    <td>Date:</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events_future %}
                    <tr>
                        <td><a href={% url 'dashboard:recruitment_c_event' event.id %}>{{ event }}</a></td>
                        <td>{{ event.date }}</td>
                        <td><a class="btn btn-default"
                            href={% url 'dashboard:recruitment_c_event_edit' event.id %}>+</a></td>
                        <td><a class="btn btn-danger"
                               href={% url 'dashboard:recruitment_c_event_delete' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href={% url 'dashboard:recruitment_c_event_add' %} role="button">Add Event</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Names List</div>
        <div class="panel-body">
            <a class="btn btn-success" href={% url 'dashboard:recruitment_c_pnm_add' %} role="button">Add Potential New
                Member</a>
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Potential New Member:</td>
                    <td>Case ID:</td>
                    <td>Phone Number:</td>
                    <td>Primary Contact</td>
                    <td>Secondary Contact</td>
                    <td>Tertiary Contact</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for pnm in potential_new_members %}
                    <tr>
                        <td>
                            <a href={% url 'dashboard:recruitment_c_pnm' pnm.id %}>{{ pnm.first_name }} {{ pnm.last_name }}</a>
                        </td>
                        <td>{{ pnm.case_ID }}</td>
                        <td>{{ pnm.phone_number }}</td>
                        <td>{{ pnm.primary_contact }}</td>
                        <td>{{ pnm.secondary_contact }}</td>
                        <td>{{ pnm.tertiary_contact }}</td>
                        <td><a class="btn btn-danger" href={% url 'dashboard:recruitment_c_pnm_delete' pnm.id %}>X</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href={% url 'dashboard:all_pnm_csv' %} role="button">Download list as csv</a>
        </div>
    </div>
    <div class="panel panel-default">
       <div class="panel-heading">Pending Excuses</div>
        <div class="panel-body">
            <div class="excuses">
                <div style="grid-column: 2/-1">Click on an excuse to learn more about it and edit its status. Click the check mark next to an excuse to "quick accept" it.</div>
                <div style="grid-column: 1/-1"></div>
                <div style="grid-column: 2"><b>Brother</b></div>
                <div><b>Event:</b></div>
                <div><b>Event Date:</b></div>
                <div><b>Submission Date:</b></div>
                <div><b>Description:</b></div>
                <div></div>
                <div></div>
                <div class="blackline"></div>
                {% for excuse in excuses %}
                    {% if not forloop.first %}
                        <div class="excusesgrayline"></div>
                    {% endif %}
                    <div style="grid-column: 2"> <a href={% url 'dashboard:recruitment_c_excuse' excuse.id %}?next={{ request.path }}>
                        {{ excuse.brother }}
                    </a> </div>
                    <div>{{ excuse.event.name }}</div>
                    <div>{{ excuse.event.date }}</div>
                    <div>{{ excuse.date_submitted }}</div>
                    <div>{{ excuse.description }}</div>
                    <div><a class="btn btn-success btn-xs"
                                   href={% url 'dashboard:excuse_quick_accept' excuse.id %}?next={{ request.path }}>&check;</a></div>
                {% empty %}
                    <div style="grid-column: 2">No pending excuses!</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Info</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-lg-2 "></div>
                <div class=" col-lg-8 ">
                    <table class="table table-event-information">
                        <tr>
                            <td>Committee:</td>
                            <td>{{ committee.get_committee_display }}</td>
                        </tr>
                        <tr>
                            <td>Meeting Day:</td>
                            <td>{{ committee.get_meeting_day_display }}</td>
                        </tr>
                        <tr>
                            <td>Meeting Time:</td>
                            <td>{{ committee.meeting_time }}</td>
                        </tr>
                        <tr>
                            <td>Meeting Frequency</td>
                            <td>{{ committee.get_meeting_interval_display }}</td>
                        </tr>
                    </table>
                    <a class="btn btn-default" href={% url 'dashboard:committee_edit' committee.id %}?next={{ request.path }}&committee={{ committee.url_name }} role="button">Edit Committee</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Committee Meeting</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>{{ committee.get_committee_display }} Committee</td>
                    <td>Minutes:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for meeting in committee_meetings %}
                    <tr>
                        <td><a href={% url 'dashboard:committee_event' meeting.id %}>{{ meeting.date }} - {{ meeting.start_time }}</a></td>
                        {% if meeting.minutes %}
                            <td><a href="{{ meeting.minutes }}">link</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class="btn btn-default"
                              href={% url 'dashboard:committee_event_edit' meeting.id %}?id={{ meeting.id }}>+</a></td>
                        <td><a class="btn btn-danger"
                               href={% url 'dashboard:committee_event_delete' meeting.id %}?next={{ request.path }}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href={% url 'dashboard:committee_event_add' position %}?next={{ request.path }}
                    role="button">Add Meeting</a>
        </div>
    </div>
{% endblock %}
