{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Scholarship Chair</h1>
        <p>
            {% for report in reports %}
                {{ report.brother.first_name }} {{ report.brother.last_name }} <br>
                Past Semester GPA: {{ report.past_semester_gpa }} <br>
                Cumulative GPA: {{ report.cumulative_gpa }} <br>
                <br>
            {% endfor %}
        </p>
      </div>
{% endblock %}
