{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Scholarship Chair <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:scholarship_c_gpa' %}>Brother GPA's</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Scholarship Report</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Scholarship Plan</div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-lg-2 "></div>
                <div class=" col-lg-8 ">
                    <table class="table table-event-information">
                        <tbody>
                        <tr>
                            <td>Brother:</td>
                            <td>{{ plan.brother.first_name }} {{ plan.brother.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Semester:</td>
                            <td>{{ plan.semester }}</td>
                        </tr>
                        <tr>
                            <td>Study Table Attendance:</td>
                            <td>{{ study_tables_attended }} / {{ study_tables_count }}</td>
                        </tr>
                        <tr>
                            <td>Past Semester GPA:</td>
                            <td>{{ plan.past_semester_gpa }}</td>
                        </tr>
                        <tr>
                            <td>Cumulative GPA:</td>
                            <td>{{ plan.cumulative_gpa }}</td>
                        </tr>
                        <tr>
                            <td>Plan:</td>
                            <td>{{ plan.scholarship_plan }}</td>
                        </tr>
                        {% if type == "scholarship-chair" %}
                            <tr>
                                <td>
                                    <a class="btn btn-default"
                                       href={% url 'dashboard:scholarship_c_plan_edit' plan.id %}>Edit
                                        Plan</a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-lg-2 "></div>
            </div>
{% endblock %}