{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Scholarship Chair <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:scholarship_c' %}>Study Table Attendance</a></li>
            <li><a href={% url 'dashboard:scholarship_c_gpa' %}>Brother GPA's</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ position }}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Scholarship Plans</div>
        <div class="panel-body">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <table class="table table-condensed">
                    <thead style="font-weight:bold;">
                    <tr>
                        <td>Brother</td>
                        <td>Plan?</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for brother, plan in brother_plans %}
                        <tr>
                            <td>
                                <a href={% url 'dashboard:scholarship_c_plan' plan.id %}>{{ brother.first_name }} {{ brother.last_name }}</a>
                            </td>
                            <td>
                                {% if plan.active %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Study Tables</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Date:</td>
                    <td>Time:</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href={% url 'dashboard:scholarship_c_event' event.id %}>{{ event.date }}</a></td>
                        <td>{{ event.start_time }}
                            {% if event.end_time %}
                                <br>{{ event.end_time }}
                            {% endif %}
                        </td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:scholarship_c_event_delete' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:scholarship_c_event_add' %} role="button">Add Event</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Meeting</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Committee:</td>
                    <td>Date:</td>
                    <td>Minutes:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for meeting in committee_meetings %}
                    <tr>
                        <td><a href={% url 'dashboard:committee_event' meeting.id%}>{{ meeting.get_committee_display }}</a></td>
                        <td>{{ meeting.date }} - {{ meeting.start_time }}</td>
                        {% if meeting.minutes %}
                            <td><a href="{{ meeting.minutes }}">link</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:committee_event_edit' meeting.id %}?next={{ request.path }}>+</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:committee_event_delete' meeting.id %}?next={{ request.path }}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:committee_event_add' position committee %}?next={{ request.path }}
                    role="button">Add Meeting</a>
        </div>
    </div>
{% endblock %}
