{% extends "secretary-base.html" %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuses</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Excuses Archive</div>
                        <div class="panel-body">
                            {% for excuse in excuses %}
                                <a href={% url 'dashboard:secretary_excuse' excuse.id %}>
                                    {{excuse.brother.first_name}} {{ excuse.brother.last_name }}
                                    - {{ excuse.description }}
                                </a>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}