{% extends "secretary-base.html" %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Agenda Builder</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Communications</div>
        <div class="panel-body">
            <div class="agenda">
                <div style="grid-column:2/3"><b>Brother</b></div>
                <div><b>Communication</b></div>
                <div class="blackline"></div>
                {% for brother in communications %}
                    {% if not forloop.first %}
                        <div class="agendagrayline"></div>
                    {% endif %}
                    {% for report in brother %}
                        {% if forloop.first %}
                            <div style="grid-column:2/3">{{ report.brother }}</div>
                        {% endif %}
                        <div style="grid-column:3/4">{{ report.information }}</div>
                        <a class="btn btn-danger" style="text-align: center;" href={% url 'dashboard:delete_report' report.id %}?next={{ request.path }}>X</a>
                    {% endfor %}
                {% empty %}
                    <div style="grid-column:2/3">No Communications!</div>
                {% endfor %}
            </div>
            <br>
            <form action="" method="post">
                 {% csrf_token %}
                <input class="btn btn-danger" type="submit" name="deleteall" value="Clear All"/>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Officer and Committee Reports</div>
        <div class="panel-body">
            <div class="agenda">
                <div style="grid-column:2/3"><b>Position</b></div>
                <div><b>Report</b></div>
                <div class="blackline"></div>
                {% for officer in reports %}
                    {% if not forloop.first %}
                        <div class="agendagrayline"></div>
                    {% endif %}
                    {% for report in officer %}
                        {% if forloop.first %}
                            <div style="grid-column:2/3">{{ report.position }}</div>
                        {% endif %}
                        <div style="grid-column:3/4">{{ report.information }}</div>
                        <a class="btn btn-danger btn-s" href={% url 'dashboard:delete_report' report.id %}?next={{ request.path }}>X</a>
                    {% endfor %}
                {% empty %}
                    <div style="grid-column:2/3">No reports!</div>
                {% endfor %}
            </div>
            <br>
            <form action="" method="post">
                 {% csrf_token %}
                <input class="btn btn-danger" type="submit" name="deleteall" value="Clear All"/>
            </form>
        </div>
    </div>
{% endblock %}