{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuse</div>
        <div class="panel-body">
            Name: {{ excuse.brother.first_name }} {{ excuse.brother.last_name }}<br>
            Event: {{ excuse.event.name }}<br>
            Event Date: {{ excuse.event.date_time }}<br>
            Date Submitted: {{ excuse.date_submitted }}<br>
            Event Mandatory: {{ excuse.event.mandatory }}<br>
            Reasoning: {{ excuse.description }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuse Response</div>
        
        <div class="panel-body">
            <div class="btn-group" role="response" aria-label="...">
                <button type="button" class="btn btn-default">Approve</button>
                <button type="button" class="btn btn-default">Deny</button>
                <button type="button" class="btn btn-default">Not Mandatory</button>
            </div>
        </div>
    </div>
{% endblock %}