{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuse</div>
        <div class="panel-body">
            Name: {{ excuse.brother.first_name }} {{ excuse.brother.last_name }}<br>
            Event: {{ excuse.event.name }}<br>
            Event Date: {{ excuse.event.date }}<br>
            Date Submitted: {{ excuse.date_submitted }}<br>
            Event Mandatory: {{ excuse.event.mandatory }}<br>
            Reasoning: {{ excuse.description }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Excuse Response</div>

        <div class="panel-body">
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}