{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Add Event</div>
        
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add Event" />
            </form>
        </div>
    </div>
{% endblock %}