{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
        <p>
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Event</div>
        <div class="panel-body">
            {{ event }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Event Attendance</div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {% for brother, form in list %}
                    {% for field in form %}
                        {{ field }}{{ field.label_tag }}
                    {% endfor %}
                    <br>
                {% endfor %}
                <input type="submit" value="Update" />
            </form>
        </div>
    </div>
{% endblock %}