{% extends "secretary-base.html" %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Semester Events</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Event:</td>
                    <td>Date:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href={% url 'dashboard:secretary_event' event.id %}>{{ event.name }}</a></td>
                        <td>{{ event.date }}</td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:secretary_event_edit' event.id %}>+</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:secretary_event_delete' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:secretary_event_add' %} role="button">Add an event</a>
        </div>
    </div>
    <div class="panel panel-default">
       <div class="panel-heading">Pending Excuses</div>
        <div class="panel-body">
            {% for excuse in excuses %}
                <a href={% url 'dashboard:secretary_excuse' excuse.id %}>
                    {{ excuse.brother.first_name }} {{ excuse.brother.last_name }}
                </a>
                - {{ excuse.event.name }}
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Brother Mass Entry</div>
        <!--
            text area for entering brother information in format
                ([^,]+),([^,]+),[\s]+([A-Za-z]+[0-9]+)[\s]+
            Field with Candidate/brother/alumni status to apply to all of the brothers added
            Field with Semester joined to apply to all of the brothers added

            On submit, stage the new users/ brothers and display them to the user for confirmation
             once confirmed, save them all, or go back to the editing page
        -->

        <div class="panel-body">
            {% if not is_entry %}
            <p>
                Once the confirmation button is hit, all the brothers in the below table that
                can be added will be created.  If a brother cannot be added, it may be that a
                brother with the same Case ID already exists and or not all 3 fields were supplied
            </p>
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>First Name:</td>
                    <td>Last Name:</td>
                    <td>Case ID:</td>
                    <td>Brother Can Be Added:</td>
                </tr>
                </thead>
                <tbody>
                {% for brother in brothers %}
                    <tr>
                        <td>{{ brother.first_name }}</td>
                        <td>{{ brother.last_name }}</td>
                        <td>{{ brother.caseid }}</td>
                        <td>{{ brother.will_be_added }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>
                Please Enter the brothers that should be added in a CSV format:
            </p>
            <pre>&lt;First_Name&gt;,&lt;Last_Name&gt;,&lt;Case ID&gt;</pre>
            <p>
                Additionally, the brother status and semester joined fields will be
                applied to all brothers added with this form
            </p>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ mass_entry_form.as_p }}
                {% if is_entry %}
                <input type="submit" value="Submit (Will ask for confirmation before changes are made)"/>
                {% else %}
                <input type="submit" name="confirmation" value="Confirm"/>
                <input type="submit" name="goback" value="Go Back"/>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
