{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Secretary <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:secretary_all_event' %}>All Events</a></li>
            <li><a href={% url 'dashboard:secretary_brother_list' %}>Active Brothers</a></li>
            <li><a href="">All Excuses</a></li>
            <li><a href="">Attendance</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Secretary</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Semester Events</div>
        <div class="panel-body">
            <table class="table table-event-information">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Event:</td>
                    <td>Date:</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href={% url 'dashboard:secretary_event' event.id %}>{{ event.name }}</a></td>
                        <td>{{ event.date }}</td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:secretary_delete_event' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:secretary_add_event' %} role="button">Add an event</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Pending Excuses</div>
        <div class="panel-body">
            {% for excuse in excuses %}
                <a href={% url 'dashboard:secretary_excuse' excuse.id %}>
                    {{ excuse.brother.first_name }} {{ excuse.brother.last_name }}
                </a>
                - {{ excuse.event.name }}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}