{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Service Chair <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:service_c_hours' %}>Service Hours</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Service Chair</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Service Events</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Event:</td>
                    <td>Date:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href={% url 'dashboard:service_c_event' event.id %}>{{ event.name }}</a></td>
                        <td>{{ event.date }}</td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:service_c_event_edit' event.id %}>+</a></td>
                      <td><a class="btn btn-danger"
                               href={% url 'dashboard:service_c_event_delete' event.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href={% url 'dashboard:service_c_event_add' %} role="button">Add an event</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Pending Service Hours</div>
        <div class="panel-body">
            Approved Hours: {{ hours_approved }}<br>
            Pending Hours: {{ hours_pending }}<br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Pending Submissions</div>
                        <div class="panel-body">
                            {% for submission in submissions_pending %}
                                <a href={% url 'dashboard:service_c_submission_response' submission.id %}>
                                    {{ submission.brother.first_name }} {{ submission.brother.last_name }}
                                    - {{ submission.name }} - Hours: {{ submission.hours }}
                                </a>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Submitted Submissions</div>
                        <div class="panel-body">
                            {% for submission in submissions_submitted %}
                                <a href={% url 'dashboard:service_c_submission_response' submission.id %}>
                                    {{ submission.brother.first_name }} {{ submission.brother.last_name }}
                                    - {{ submission.name }} - Hours: {{ submission.hours }}
                                </a>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}