{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Vice President <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:vice_president_committee_assignments' %}>Committee Assignments</a></li>
            <li><a href={% url 'dashboard:vice_president_in_house' %}>Select housing</a></li>
        </ul>
    </li>
{% endblock %}
