{% extends "base.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Vice President <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href={% url 'dashboard:vice_president_committee_assignments' %}>Committee Assignments</a></li>
            <li><a href="">Past Meetings</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Vice President</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Committee Meeting</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead style="font-weight:bold;">
                <tr>
                    <td>Committee:</td>
                    <td>Date:</td>
                    <td>Minutes:</td>
                    <td>Edit?</td>
                    <td>Delete?</td>
                </tr>
                </thead>
                <tbody>
                {% for meeting in committee_meetings %}
                    <tr>
                        <td><a href="">{{ meeting.get_committee_display }}</a></td>
                        <td>{{ meeting.date }} - {{ meeting.start_time }}</td>
                        {% if meeting.minutes %}
                            <td><a href="{{ meeting.minutes }}">link</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:vice_president_committee_meeting_edit' meeting.id %}>X</a></td>
                        <td><a class="btn btn-default"
                               href={% url 'dashboard:vice_president_committee_meeting_delete' meeting.id %}>X</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href={% url 'dashboard:vice_president_committee_meeting_add' %}
                    role="button">Add Meeting</a>
        </div>
    </div>
{% endblock %}