{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Edit {% block model %}{% endblock %}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Edit</div>
        <div class="panel-body">
            {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
            {% else %}
                <form method="post">
            {% endif %}
                {{ form.non_field.errors }}
                {% csrf_token %}
                {% block model_info %}{% endblock %}
                <div class="modeladd">
                    {% for field in form %}
                        {% if not forloop.first %}
                            <div class="grayline"></div>
                        {% endif %}
                        <div class="modellabel">{{ field.label_tag }}</div>
                        <div>{{ field }}</div>
                        <div style="grid-column: 6/7;">{{ field.errors }}</div>
                    {% endfor %}
                    <input class="btn btn-success" type="submit" value="Update"/>
                    {% block goback %}{% endblock%}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

