{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Edit {% block model %}{% endblock %}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {% block model_info %}
            {% endblock %}
            <form method="post">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <input type="submit" value="Update"/>
            </form>
        </div>
    </div>
    </form>

{% endblock %}