{% extends "base.html" %}

{% block dropdown %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Edit {% block model %}{% endblock %}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Edit</div>
        <div class="panel-body">
            {% block model_info %}
            {% endblock %}
            {% if form.is_multipart %}
                <form method="post" enctype="multipart/form-data">
            {% else %}
                <form method="post">
            {% endif %}
                {{ form.non_field.errors }}
                {% csrf_token %}
                <div class="modeladd">
                {% for field in form %}
                    <div class="modellabel">{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <div style="grid-column: 5/6;">{{ field.errors }}</div>
                <div class="grayline"></div>
                {% endfor %}
                <input class="btn btn-success" type="submit" value="Update"/>
            </form>
        </div>
    </div>
{% endblock %}