{% extends "dashboard/base_form.html" %}

{% block model %}Excuse{% endblock %}

{% block model_info %}
    <div class="modellabel">Event:</div>
    <div>{{ form.instance.event.name }}</div>
    <div class="grayline"></div>
    <div class="modellabel">Date of event:</div>
    <div>{{ form.instance.event.date }}</div>
    <div class="grayline"></div>
    <div class="modellabel">Date Submitted:</div>
    <div>{{ form.instance.date_submitted }}</div>
    <div class="grayline"></div>
    <div class="modellabel">Start Time:</div>
    <div>{{ form.instance.event.start_time }}</div>
    <div class="grayline"></div>
{% endblock %}