{% extends "dashboard/base_form.html" %}

{% block model %}Excuse{% endblock %}

{% block model_info %}
    <table class="table table-event-information">
        <tbody>
        <tr>
            <td>Name:</td>
            <td>{{ form.instance.name }}</td>
        </tr>
        <tr>
            <td>Brother:</td>
            <td>{{ form.instance.brother.first_name }} {{ form.instance.brother.last_name }}</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>{{ form.instance.date }}</td>
        </tr>
        <tr>
            <td>Date Submitted:</td>
            <td>{{ form.instance.date_applied }}</td>
        </tr>
        <tr>
            <td>Hours:</td>
            <td>{{ form.instance.hours }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ form.instance.desciption }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}